<h1>{{title}}</h1>
<p>Bienvenidos a {{title}}</p>

<a href="/">
  <h1>index</h1>
</a>

<p>{{texto}}</p>

<img src="{{foto}}" alt="">
<br>

<iframe width="560" height="315" src="https://www.youtube.com/embed/G4i3aMLbU2s" frameborder="0" allowfullscreen></iframe>
