<!-- C칩digo de HTML que muestra la informaci칩n provista por la ruta  -->

<!--
Extiende el archivo `views/layout.hbs` por lo tanto no es necesario incluir
<head></head> o <body></body> en este archivo. Revise el archivo del layout
para una mejor explicaci칩n
 -->

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h2>Hola esta es una p치gina de gatos</h2>

<a href="/gatos">GATOS</a>

<p>{{saludo}}</p>

<p>{{numero}}</p>
