<!-- C贸digo de HTML que muestra la informaci贸n provista por la ruta  -->

<!--
Extiende el archivo `views/layout.hbs` por lo tanto no es necesario incluir
<head></head> o <body></body> en este archivo. Revise el archivo del layout
para una mejor explicaci贸n
 -->

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h1>Bienvenidos a mi proyecto de investigaci贸n</h1>

<a href="/gatos">GATOS</a>

<p>{{saludo}}</p>

<p>{{numero}}</p>
