<h1>{{title}}</h1>
<p> Pistas de la investigación {{title}}</p>

<a href="/">
  <h1>index</h1>
</a>

<p>{{texto}}</p>

<img src="{{foto}}" alt="">
<br>
<a href="http://cinestampilla.com/nosotros.php" target="_blank" > Cinestampilla </a>
<br>
<a href="https://pro.festivalscope.com/" target="_blank" > FESTIVALSCOPE </a>
<br>
<a href="http://lachevre.co/index.php" target="_blank" > La chevre </a>
