<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/">
  <h1>index</h1>
</a>

<p>{{texto}}</p>

<img src="{{foto}}" alt="">
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/qeJDoOrOZV0" frameborder="0" allowfullscreen></iframe>
<a href="http://www.google.com" target="_blank" > A google </a>
